Descrizione

Il progetto prevede lo sviluppo di una bacheca di dati con DJango e Redis per una startup che si occupa di formazione e lavoro per migranti.

Ti ha contattato una startup che si occupa di formazione e lavoro per migranti per implementare un sistema di creazione di certificati di formazione con una prova di esistenza su blockchain.

Ti viene richiesto di creare un’applicazione web per permettere agli operatori di assegnare un titolo di studio digitale agli studenti, identificato da una stringa casuale.

Dovrai fare in modo che ogni volta che un titolo di studio viene assegnato venga trasmessa una transazione su Ethereum Ropsten con l’hash SHA256 o MD5 del JSON contenente tutte le informazioni associate al titolo di studio e alla persona (es. Nome, Cognome, Data di nascita, Data conseguimento titolo, Votazione).

Le funzionalità minime che dovrai implementare sono:

Una pagina, alla quale soltanto gli amministratori possono accedere, dove è possibile assegnare un titolo di studio a uno studente
Una pagina alla quale chiunque può accedere e inserire il codice identificativo di un titolo di studio per visualizzare tutte le informazioni associate e la transazione
Un sistema di logging per memorizzare l’ultimo IP che ha avuto accesso alla piattaforma per un certo utente amministratore, in modo da mostrare un messaggio di avvertimento quando questo è diverso dal precedente