<h1>Help page</h1>
<p>The present site allows you to:
  <ul>
    <li>Insert a title for each partecipant</li>
    <li>Validate the title through Blockchain (automatically)</li>
    <li>Search for a certain title (by using the corresponding hash)</li>
  </ul>
<h2>Are you an admin?</h2>
<ul>
  <li>Just press the "ADD TITLE" button and enter credentials.</li>
  <li>A warning message will appear at the top left if your IP is different with respect to your previous (is any) access
  <li>Then create a new post and fill all fields except for hash and txId: they'll be filled automatically</li>
</ul>
<h2>Are you a user?</h2>
You can:  
<ul>
  <li>See all the title posted</li>
  <li>If you know the unique identifier (i.e. the hash)</li>
  <ul>
    <li>Click on the "SEARCH" button</li>
    <li>Insert the hash</li>
    <li>If the corresponding title exists, you will see all info about that title</li>
  </ul>
</ul>